body {
  background-image: url("http://www.desktopimages.org/pictures/2015/0206/1/orig_211954.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Josefin Sans';
}